.orders-container {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  position: sticky;
  z-index: 1;
  background-color: white;
  padding: 20px 0;
  top: 70px;
}

.serch-select {
  padding: 5px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.search-input {
  padding: 5px 8px;
  width: 50%;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.product-icons-msg {
  color: green;
  cursor: pointer;
  font-size: 20px;
}

.product-icons-msg:hover {
  color: rgb(0, 255, 55);
}

.applications-table-container{
  margin-bottom: 50px;
}

.applications-table-date{
  font-weight: 500;
  color: gray;
  margin-bottom: 10px;
}



@media screen and (max-width: 768px) {
  .table-style {
    overflow-x: auto;
  }

  .orders-container {
    padding: 0 10px;
  }

  .search-box {
    justify-content: center;
    padding: 10px 0;
  }
}
